[
  {
    "name": "",
    "type": "",
    "host": "",
    "port": 9999,
    "database": "",
    "useUnifiedTopology": true,
    "entities": [
      "./src/modules/**/infra/typeorm/schemas/*.ts"
    ]
  }
]
